<a href="https://colab.research.google.com/github/kec210/BTE320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
radius = int(input("radius:"))
height = int(input("height:"))

area = (2 * pi * radius ** 2) + (2 * pi * radius * height)
print("area:",area, "sq.ft")

radius:2
height:4
area: 75.36 sq.ft

In [ ]:
pi = 3.14
radius = float(input('Please provide radius:'))
height = float(input('Please provide height of cylinder:'))

area = (2 * pi * radius ** 2) + (2 * pi * radius * height)
print(f'Area of cylinder = {area} sq. ft')

Please provide radius:5
Please provide height of cylinder:10
Area of cylinder = 471.0 sq. ft

In [ ]:
x = 2
y = 3

if x < 3:
  print("x less than y")

x less than y

In [ ]:
number1 = float (input('Please put 1st number:'))
sign = input ("Please provide Sign: ")
number2 = float (input('Please put 2nd number:'))

if sign == '+':
  print(number1 + number2)
elif sign == '-':
  print(number1 - number2)
elif sign == '*':
  print(number1 * number2)
elif sign == '/':
  print(number1 / number2)
elif sign == '//':
  print(number1 // number2)
elif sign == '**':
  print(number1 ** number2)
elif sign == '%':
  print(number1 % number2)
else:
  print('Invalid Operator')

Please put 1st number:9
Please provide Sign: %
Please put 2nd number:2
1.0

In [ ]:
n1 = float(input('Please put 1st number:'))
n2 = float(input('Please put 2nd number:'))
s = input('Please provide Sign (+, -, *, /, //, **, %):')

if s == '+':
  print(f'{n1} + {n2} = {n1 + n2}')
elif s == '-':
  print(f'{n1} - {n2} = {n1 - n2}')
elif s == '*':
  print(f'{n1} * {n2} = {n1 * n2}')
elif s == '/':
  print(f'{n1} / {n2} = {n1 / n2}')
elif s == '//':
  print(f'{n1} // {n2} = {n1 // n2}')
elif s == '**':
  print(f'{n1} ** {n2} = {n1 ** n2}')
elif s == '%':
  print(f'{n1} % {n2} = {n1 % n2}')
else:
  print('Invalid Operator')

Please put 1st number:9
Please put 2nd number:3
Please provide Sign (+, -, *, /, //, **, %):+
9.0 + 3.0 = 12.0

In [ ]:
for numberhours in range(1, 9):
  fee = 5 + (2.5 * numberhours)
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(numberhours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math

print ('ad$\t', 'profit')
for admoney in range(0, 201, 25):
  additional = 2 * round(math.sqrt(admoney)) #instead of adcost **0.5
  profit = (20 + additional) * 10 - 200 - admoney
  print(admoney, '\t', profit)

ad$	 profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
play = input("Do you want to play? (Yes/No)").capitalize()


while play == 'Yes':
  Player1 = input("Player 1 - Choose between Rock, Paper, Scissors")
  Player2 = input("Player 2 - Choose between Rock, Paper, Scissors")

  if Player1 == Player2:
    print("It's a tie!")
  elif Player1 == 'Rock' and Player2 == 'Scissors':
    print("Player 1 wins!")
    play = input("Do you want to play again? (Yes/No)")
  elif Player1 == 'Paper' and Player2 == 'Rock':
    print("Player 1 wins!")
    play = input("Do you want to play again? (Yes/No)")
  elif Player1 == 'Scissors' and Player2 == 'Paper':
    print("Player 1 wins!")
    play = input("Do you want to play again? (Yes/No)")
  else:
    print("Player 2 wins!")

  play = input("Do you want to play a new game? (Yes/No)")

print("Good day!")

Do you want to play? (Yes/No)yes
Player 1 - Choose between Rock, Paper, Scissorsrock
Player 2 - Choose between Rock, Paper, Scissorspaper
Player 2 wins!
Do you want to play a new game? (Yes/No)no
Good day!

In [11]:
months = {} # Best approach

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [12]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

cntr = 0
for num in numbers:
  months[num] = names[cntr]
  cntr += 1
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [13]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num] = names[num - 1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [21]:
counts = {}

while len(counts) < 5:
  key = input('Give a string: ')

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] = counts[key] + 1
counts

Give a string: a
Give a string: b
Give a string: c
Give a string: d
Give a string: a
Give a string: a
Give a string: e

{'a': 3, 'b': 1, 'c': 1, 'd': 1, 'e': 1}

In [20]:
counts = {}

while len(counts) < 5:
  key = input('Give a string: ')

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] += 1
counts

Give a string: a
Give a string: b
Give a string: c
Give a string: d
Give a string: e

{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1}